In [95]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [96]:
data = pd.read_csv('zomato_cleaned2.csv')

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45584 entries, 0 to 45583
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45584 non-null  object
 1   Delivery_person_ID           45584 non-null  object
 2   City_Name                    45584 non-null  object
 3   Delivery_person_Age          45584 non-null  float64
 4   Delivery_person_Ratings      45584 non-null  float64
 5   Restaurant_latitude          45584 non-null  float64
 6   Restaurant_longitude         45584 non-null  float64
 7   Delivery_location_latitude   45584 non-null  float64
 8   Delivery_location_longitude  45584 non-null  float64
 9   Order_Date                   45584 non-null  object
 10  Time_Orderd                  43853 non-null  object
 11  Time_Order_picked            45584 non-null  object
 12  Weather_conditions           45584 non-null  object
 13  Road_traffic_density         45584 non-null  object
 14  Vehicle_condition            45584 non-null  int64
 15  Type_of_order                45584 non-null  object
 16  Type_of_vehicle              45584 non-null  object
 17  multiple_deliveries          45584 non-null  int64
 18  Delivery_Status              45584 non-null  object
 19  Festival                     45584 non-null  object
 20  City_Type                    45584 non-null  object
 21  Time_taken (min)             45584 non-null  int64
 22  Time_taken_per_hr            45584 non-null  float64
 23  Distance_km                  45584 non-null  float64
 24  Speed_in_km/hr               45584 non-null  float64
dtypes: float64(9), int64(3), object(13)
memory usage: 8.7+ MB

In [98]:
data.head()

,ID,Delivery_person_ID,City_Name,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,...,Type_of_order,Type_of_vehicle,multiple_deliveries,Delivery_Status,Festival,City_Type,Time_taken (min),Time_taken_per_hr,Distance_km,Speed_in_km/hr
0,0xcdcd,DEHRES17DEL01,Delhi,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2/12/2022,...,Snack,motorcycle,3,Delivered,No,Metropolitian,46,0.766667,10.280582,13.409455
1,0xd987,KOCRES16DEL01,Kochi,21.0,4.7,10.003064,76.307589,10.043064,76.347589,2/13/2022,...,Meal,motorcycle,1,Delivered,No,Metropolitian,23,0.383333,6.242319,16.284310
2,0x2784,PUNERES13DEL03,Pune,23.0,4.7,18.562450,73.916619,18.652450,74.006619,3/4/2022,...,Drinks,scooter,1,Delivered,No,Metropolitian,21,0.350000,13.787860,39.393886
3,0xc8b6,LUDHRES15DEL02,Ludhiana,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2/13/2022,...,Buffet,motorcycle,0,Failed,No,Metropolitian,20,0.333333,2.930258,8.790773
4,0xdb64,KNPRES14DEL02,Kanpur,24.0,4.7,26.463504,80.372929,26.593504,80.502929,2/14/2022,...,Snack,scooter,1,Delivered,No,Metropolitian,41,0.683333,19.396618,28.385295

In [99]:
data['Order_Date'] = pd.to_datetime(data['Order_Date'])
data['Order_DayOfWeek'] = data['Order_Date'].dt.dayofweek
data['Order_Hour'] = data['Order_Date'].dt.hour
data['Distance_from_restaurant'] = ((data['Restaurant_latitude'] - data['Delivery_location_latitude']) ** 2 + (data['Restaurant_longitude'] - data['Delivery_location_longitude']) ** 2) ** 0.5

In [101]:
features = ['Delivery_person_Age', 'Delivery_person_Ratings', 'Vehicle_condition', 'Distance_km']
target = 'Time_taken (min)'

In [102]:
X = data[features]
y = data[target]

If extending convert the categorical values using one hot encoding

In [103]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [104]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [105]:
predictions = model.predict(X_test)

In [106]:
mae = mean_absolute_error(y_test, predictions)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 6.598707157456511

In [107]:
new_delivery = pd.DataFrame([[30, 4.5, 3, 15]], columns=features)
predicted_time = model.predict(new_delivery)
print("Predicted Time for Delivery:", predicted_time[0], "minutes")

Predicted Time for Delivery: 22.579705694498394 minutes

In [108]:
X_new = data[features]

In [109]:
predicted_delivery_time = model.predict(X_new)

In [110]:
data['Predicted_Delivery_Time'] = predicted_delivery_time

In [111]:
data.to_csv('zomato_predicted.csv', index=False)